<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt=""></a>
		<div class="hero-copy">
			<h1>Welcome to a Congressional Twitter App</h1>
			<p>Check out different legislator profile pages and add to your favorites.</p>
		</div>
    <a href="/members"><button>View Members of Congress</button></a>
	</div>
</div>
